.marker-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.place-holder {
  height: 50px;
  width: 50px;
  border: solid 1px #abb0b5;
  font-size: 30px;
  text-align: center;
  border-radius: 5px;
}

.information-board {
  display: flex;
  justify-content: space-evenly;
}

.button-group {
  display: flex;
  justify-content: center;
}
.btn {
  border: solid 1px;
  margin-right: 5px;
}